<header class="sec">
    <div class="header-content-wrap sec-cont">
        <a href="/" class="logo"><img src="/static/images/Logo.png" alt="logo" /></a>
        <nav class="header-nav">
            <button class="header-nav-toggle"></button>
            <menu class="header-menu">
                <li>
                    <a class="header-menu-item <% if(path === '/') { %>active<% }  %>" href="/">Hem</a>
                </li>

                <li>
                    <a class="header-menu-item <% if(path === '/movies'){ %>active<% }  %>" href="/movies">Filmer</a>
                </li>

                <li>
                    <a class="header-menu-item <% if(path === '/about-us'){ %>active<% }  %>" href="/about-us">Om oss</a>
                </li>

                <li>
                    <a class="header-menu-item <% if(path === '/restaurant'){ %>active<% }  %>" href="/restaurant">Restaurang</a>
                </li>
            </menu>
        </nav>
    </div>
</header>