<header class="sec">
    <div class="header-content-wrap sec-cont">
        <a href="/" class="logo"><img src="static/images/Logo.png" alt="logo" /></a>
        <nav class="header-nav">
            <button class="header-nav-toggle"></button>
            <menu class="header-menu">
                <li>
                    <a class="header-menu-item active" href="/">Hem</a>
                </li>
                <li>
                    <a class="header-menu-item" href="about-us">Om oss</a>
                </li>
                <li>
                    <a class="header-menu-item" href="under-construction">Biljettinfo</a>
                </li>
                <li>
                    <a class="header-menu-item" href="under-construction">Presentkort</a>
                </li>
            </menu>
        </nav>
    </div>
</header>